{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'polls/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


</head>
<body>
	<aside>
		<img src="{% static 'polls/img/logo.png' %}" alt="Logo">
		<span class="logo">MDStat</span>
		<h3>Навигация</h3>
		<p></p>
		<p></p>
		<ul>
			<a href="{% url 'polls:index' %}"><li><i class="fas fa-home"></i>Главная</li></a>
			<a href="{% url 'posts:posts_home'%}"><li>Посты</li></a>
			<a href="{% url 'posts:create_post' %}"><li>Добавить Пост</li></a>
			{% if user.is_authenticated %}
				<a href="{% url 'logout' %}"><li>Log out</li></a>
				{# <a href="{% url 'accounts:password_change' %}"><li>Change Password</li></a> #}
			{% else %}
				<a href="{% url 'login' %}"><li>Log in</li></a>
			{% endif %}
		</ul>
		
	</aside>
	<main>
		{% block content %}
		{% endblock %}

	</main>

</body>
</html>