{% extends 'polls/detail.html' %}

{% block content %}
<div class="features">
<h1>Welcome to our website.</h1>
<p>Chose a topic to vote for:</p>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<p>Add a new topic:
<a href="{% url 'polls:create' %}">Click here!</a></p>
<p>Add a new answer:</p>
<a href="{% url 'polls:create_answers' %}">Here</a>

</body>

</div>
{% endblock %}